 <!-- Logo & Navigation ends -->

 <!-- Page title -->
 <div class="page-title">
 	<div class="container">
 		<h2><i class="fa fa-desktop color"></i> My Account <small>Subtext for header</small></h2>
 		<hr />
 	</div>
 </div>
 <!-- Page title -->
 <div class="account-content">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-3">
 				<div class="sidey">
 					<ul class="nav">
 					<li><a href="#account">Mon compte</a></li>
 					<li><a href="#history">Mes achats</a></li>                         
 					</ul>
 				</div>
 			</div>
 			<div class="col-md-9">
 				<h3><i class="fa fa-user color"></i> &nbsp;My Account</h3>
 				<!-- Your details -->
 				<div class="address">
 					<address>
 						<!-- Your name -->
 						<strong><%= localStorage.user_lastname + " " + localStorage.user_firstname %></strong><br>
 						<!-- Address -->
 						<%= localStorage.user_address %>	
 						<a href="mailto:#"><%= localStorage.user_email %></a>
 					</address>
 				</div>

 				<hr />

 				<h4>My Recent Purchases</h4>

 				<table class="table table-striped tcart">
 					<thead>
 						<tr>
 							<th>Date</th>
 							<th>ID</th>
 							<th>Name</th>
 							<th>Price</th>
 							<th>Status</th>
 						</tr>
 					</thead>
 					<tbody>
 						<tr>
 							<td>25-08-12</td>
 							<td>4423</td>
 							<td>HTC One</td>
 							<td>$530</td>
 							<td>Completed</td>
 						</tr>
 						<tr>
 							<td>15-02-12</td>
 							<td>6643</td>
 							<td>Sony Xperia</td>
 							<td>$330</td>
 							<td>Shipped</td>
 						</tr>
 						<tr>
 							<td>14-08-12</td>
 							<td>1283</td>
 							<td>Nokia Asha</td>
 							<td>$230</td>
 							<td>Processing</td>
 						</tr>                                               
 					</tbody>
 				</table>
 			</div>
 		</div>

 		<div class="sep-bor"></div>
 	</div>
 </div>