<!-- Carousel starts -->

<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- Item -->
    <div class="item active animated fadeInRight">
      <img src="<%= $.assetsURL %>img/back1.jpg" alt="" class="img-responsive" />
      <div class="carousel-caption">
        <h2 class="animated fadeInLeftBig">Lorem ipsum dolor sit amet</h2>
        <p class="animated fadeInRightBig">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Donec tristique est sit amet diam interdum semper. </p>
        <a href="#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $199</a>
      </div>
    </div>

    <div class="item animated fadeInRight">
      <img src="<%= $.assetsURL %>img/back2.jpg" alt="" class="img-responsive" />
      <div class="carousel-caption">
        <h2 class="animated fadeInLeftBig">Mauris semper tincidunt suscipit</h2>
        <p class="animated fadeInRightBig">Donec tristique est sit amet diam interdum semper. Vestibulum <strong>condimentum ante urna</strong>, vel interdum odio accumsan id.</p>
        <a href="#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $299</a>
      </div>
    </div>

    <div class="item animated fadeInRight">
      <img src="<%= $.assetsURL %>img/back3.jpg" alt="" class="img-responsive" />
      <div class="carousel-caption">
        <h2 class="animated fadeInLeftBig">Phasellus et nisi tincidunt</h2>
        <p class="animated fadeInRightBig">Lorem <strong>ipsum dolor sit amet</strong>, consectetur adipiscing elit. Vestibulum condimentum ante urna, vel interdum odio accumsan id.</p>
        <a href="#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $479</a>
      </div>
    </div>          
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<!-- carousel ends -->

<!-- Hero starts -->

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Catchy title -->
        <h3>It<span class="color">'</span>s Lorem ipsum <span class="color">dolor</span> sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum condimentum ante urna, vel interdum odio accumsan id.</p>
      </div>
    </div>
    <div class="sep-bor"></div>
  </div>
</div>

<!-- Hero ends -->  

<!-- Items List starts -->

<div class="shop-items blocky">
  <div class="container">

    <div class="row">
      <!-- Item #1 -->
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">
          <!-- Use the below link to put HOT icon -->
          <div class="item-icon"><span>HOT</span></div>
          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/2.png" alt="" class="img-responsive"/></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">HTC One V</a></h5>
            <div class="clearfix"></div>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$360</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <!-- Item #2 -->
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">
          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/3.png" alt=""  class="img-responsive"/></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">Dell One V</a></h5>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$264</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>  

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">
          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/4.png" alt="" class="img-responsive" /></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">Cannon One V</a></h5>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$160</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">
          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/5.png" alt=""  class="img-responsive"/></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">Apple One V</a></h5>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$420</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">

          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/6.png" alt=""  class="img-responsive"/></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">Samsung One V</a></h5>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$300</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">
          <div class="item-icon"><span>HOT</span></div>
          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/7.png" alt=""  class="img-responsive"/></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">Micromax One V</a></h5>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$240</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">
          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/8.png" alt=""  class="img-responsive"/></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">Nokia One V</a></h5>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$50</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="item">
          <!-- Item image -->
          <div class="item-image">
            <a href="single-item.html"><img src="<%= $.assetsURL %>img/items/9.png" alt=""  class="img-responsive"/></a>
          </div>
          <!-- Item details -->
          <div class="item-details">
            <!-- Name -->
            <h5><a href="single-item.html">Sony One V</a></h5>
            <!-- Para. Note more than 2 lines. -->
            <p>Something about the product goes here. Not More than 2 lines.</p>
            <hr />
            <!-- Price -->
            <div class="item-price pull-left">$100</div>
            <!-- Add to cart -->
            <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>                                                                      

    </div>
  </div>
</div>

<!-- Items List ends -->

<!-- Catchy starts -->
<div class="catchy blocky">
  <div class="catchy-inner1">
    <div class="catchy-inner2">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="catchy-subscribe">
              <h3>Join Us!</h3>
              <p>Lorem tristique est sit amet diam ipsum  dolor sit  diam interdum diam ipsum  dolor sit diam ipsum  dolor sit tristique semper.</p>
              <br />
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="form-control " id="exampleInputEmail2" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-danger">Subscribe</button>
              </form>

            </div>
          </div>
          <div class="col-md-7">

            <div class="report">
              <div class="report-bor">
                <div class="row">
                  <!-- Report data starts -->
                  <div class="col-md-4 col-sm-4">
                    <div class="report-data">
                      <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                         <!-- Icon -->
                         <div class="report-icon">
                          <i class="icon-group color"></i>
                        </div>
                      </div>
                      <div class="col-md-8 col-md-8 col-xs-8">
                       <!-- Details -->
                       <span class="report-big color">40,000</span> <span>Customers</span>
                     </div>
                   </div>
                 </div>
               </div>
               <!-- Report data ends -->

               <!-- Report data starts -->
               <div class="col-md-4 col-sm-4">
                <div class="report-data">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                     <!-- Icon -->
                     <div class="report-icon">
                      <i class="icon-calendar color"></i>
                    </div>
                  </div>
                  <div class="col-md-8 col-md-8 col-xs-8">
                   <!-- Details -->
                   <span>Since</span><span class="report-big color">1857</span>
                 </div>
               </div>
             </div>
           </div>
           <!-- Report data ends -->

           <!-- Report data starts -->
           <div class="col-md-4 col-sm-4">
            <div class="report-data">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                 <!-- Icon -->
                 <div class="report-icon">
                  <i class="icon-android color"></i>
                </div>
              </div>
              <div class="col-md-8 col-md-8 col-xs-8">
               <!-- Details -->
               <span class="report-big color">30,000</span> <span>Revenue</span>
             </div>
           </div>
         </div>
       </div>
       <!-- Report data ends -->

     </div>

     <hr class="hidden-xs">

     <div class="row">

      <!-- Report data starts -->
      <div class="col-md-4 col-sm-4">
        <div class="report-data">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
             <!-- Icon -->
             <div class="report-icon">
              <i class="icon-building color"></i>
            </div>
          </div>
          <div class="col-md-8 col-md-8 col-xs-8">
           <!-- Details -->
           <span class="report-big color">150 +</span> <span>Companies</span>
         </div>
       </div>
     </div>
   </div>
   <!-- Report data ends -->

   <!-- Report data starts -->
   <div class="col-md-4 col-sm-4">
    <div class="report-data">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
         <!-- Icon -->
         <div class="report-icon">
          <i class="icon-signal color"></i>
        </div>
      </div>
      <div class="col-md-8 col-md-8 col-xs-8">
       <!-- Details -->
       <span class="report-big color">50.60%</span> <span>Growth</span>
     </div>
   </div>
 </div>
</div>
<!-- Report data ends -->

<!-- Report data starts -->
<div class="col-md-4 col-sm-4">
  <div class="report-data">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
       <!-- Icon -->
       <div class="report-icon">
        <i class="icon-truck color"></i>
      </div>
    </div>
    <div class="col-md-8 col-md-8 col-xs-8">
     <!-- Details -->
     <span class="report-big color">100 +</span> <span>Employees</span>
   </div>
 </div>
</div>
</div>
<!-- Report data ends -->

</div>

</div>
</div> 

</div>
</div>
</div>
</div>
</div>
</div>      
<!-- Catchy ends -->

<!-- Recent posts CarouFredSel Starts -->

<div class="recent-posts blocky">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Section title -->
        <div class="section-title">
          <h4><i class="icon-desktop color"></i> &nbsp;Whats New in Our Company</h4>
        </div>    

        <div class="row">
          <div class="col-md-12">
            <div class="my_carousel">

              <div class="carousel_nav pull-right">
                <!-- Carousel navigation -->
                <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
                <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
              </div>

              <ul id="carousel_container">
                <!-- Carousel item -->
                <li>
                  <a href="#"><img src="<%= $.assetsURL %>img/items/2.png" alt="" class="img-responsive"/></a>
                  <div class="carousel_caption">
                    <h5><a href="#">Duis estsum placerat</a></h5>
                    <p>Something about the product goes here. Not More than 2 lines.</p>
                    <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                  </div>
                </li>
                <li>
                  <a href="#"><img src="<%= $.assetsURL %>img/items/3.png" alt="" class="img-responsive"/></a>
                  <div class="carousel_caption">
                    <h5><a href="#">Maecenas estsum odio</a></h5>
                    <p>Something about the product goes here. Not More than 2 lines.</p>
                    <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                  </div>
                </li>
                <li>
                  <a href="#"><img src="<%= $.assetsURL %>img/items/4.png" alt="" class="img-responsive"/></a>
                  <div class="carousel_caption">
                    <h5><a href="#">Proin estsum accumsan</a></h5>
                    <p>Something about the product goes here. Not More than 2 lines.</p>
                    <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                  </div>
                </li>
                <li>
                  <a href="#"><img src="<%= $.assetsURL %>img/items/5.png" alt="" class="img-responsive"/></a>
                  <div class="carousel_caption">
                    <h5><a href="#">Lorem estsum ipsum</a></h5>
                    <p>Something about the product goes here. Not More than 2 lines.</p>
                    <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                  </div>
                </li>
                <li>
                  <a href="#"><img src="<%= $.assetsURL %>img/items/6.png" alt="" class="img-responsive"/></a>
                  <div class="carousel_caption">
                    <h5><a href="#">Praesent estsum massa</a></h5>
                    <p>Something about the product goes here. Not More than 2 lines.</p>
                    <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                  </div>
                </li>
                <li>
                  <a href="#"><img src="<%= $.assetsURL %>img/items/7.png" alt="" class="img-responsive"/></a>
                  <div class="carousel_caption">
                    <h5><a href="#">Praesent estsum etium</a></h5>
                    <p>Something about the product goes here. Not More than 2 lines.</p>
                    <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Recent posts Ends -->    


<!-- CTA Starts -->
<div class="blocky">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cta">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <h5><i class="icon-angle-right"></i> Lorem trist iquest <span class="color">siamet diam</span> ipsum dolor sitamt</h5>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="cta-buttons pull-right">
                <a href="#" class="btn btn-info btn-lg">Download</a> &nbsp; <a href="#" class="btn btn-danger btn-lg">Get It Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>               
    </div>
  </div>
</div>
<!-- CTA Ends -->

<!-- Clients starts -->
<div class="clients blocky">
  <div class="container">

    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="client">
          <img src="<%= $.assetsURL %>img/clients/amazon-f.png" alt="" class="img-responsive" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="client">
          <img src="<%= $.assetsURL %>img/clients/google-f.png" alt="" class="img-responsive" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="client">
          <img src="<%= $.assetsURL %>img/clients/facebook-f.png" alt="" class="img-responsive" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="client">
          <img src="<%= $.assetsURL %>img/clients/twitter-f.png" alt="" class="img-responsive" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="client">
          <img src="<%= $.assetsURL %>img/clients/skype-f.png" alt="" class="img-responsive" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="client">
          <img src="<%= $.assetsURL %>img/clients/youtube-f.png" alt="" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  /* Bootstrap Carousel */

$('.carousel').carousel({
   interval: 8000,
   pause: "hover"
});

/* Ecommerce single item carousel */

$('.ecarousel').carousel({
   interval: 8000,
   pause: "hover"
});

/* Navigation Menu */

ddlevelsmenu.setup("ddtopmenubar", "topbar");

/* Dropdown Select */

/* Navigation (Select box) */

// Create the dropdown base

$("<select />").appendTo(".navis");

// Create default option "Go to..."

$("<option />", {
   "selected": "selected",
   "value"   : "",
   "text"    : "Menu"
}).appendTo(".navis select");

// Populate dropdown with menu items

$(".navi a").each(function() {
 var el = $(this);
 $("<option />", {
     "value"   : el.attr("href"),
     "text"    : el.text()
 }).appendTo(".navis select");
});

$(".navis select").change(function() {
  window.location = $(this).find("option:selected").val();
});


/* Recent post carousel (CarouFredSel) */

/* Carousel */

$('#carousel_container').carouFredSel({
  responsive: true,
  width: '100%',
   direction: 'right',
  scroll: {
      items: 4,
      delay: 2000,
      duration: 500,
      pauseOnHover: "true"
   },
   prev : {
      button  : "#car_prev",
      key   : "left"
   },
   next : {
      button  : "#car_next",
      key   : "right"
   },
  items: {  
    visible: {
         min: 1,
      max: 4
    }
  }
});

/* Scroll to Top */


  $(".totop").hide();

  $(function(){
    $(window).scroll(function(){
      if ($(this).scrollTop()>300)
      {
        $('.totop').slideDown();
      } 
      else
      {
        $('.totop').slideUp();
      }
    });

    $('.totop a').click(function (e) {
      e.preventDefault();
      $('body,html').animate({scrollTop: 0}, 500);
    });

  });
  
  
/* Support */

$("#slist a").click(function(e){
   e.preventDefault();
   $(this).next('p').toggle(200);
});

/* Careers */

$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})


/* Ecommerce sidebar */

$(document).ready(function() {
    $('.sidey .nav').navgoco();
});
</script>