<div class="blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="reg-login-info">
                    <h2>Login to Access Amazing Benefits <span class="color">!!!</span></h2>
                    <img src="<%= $.assetsURL %>img/back1.jpg" alt="" class="img-responsive img-thumbnail" />
                    <p>Duis leo risus, vehicula luctus nunc. Quiue rhoncus, a sodales enim arcu quis turpis. Duis leo risus, condimentum ut posuere ac, vehicula luctus nunc. Quisque rhoncus, a sodales enim arcu quis turpis.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="register-login">
                    <div class="cool-block">
                        <div class="cool-block-bor">

                            <h3>Connexion</h3>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-info" id="signin_btn">Se connecter</button>
                                        <button type="reset" class="btn btn-default">Remise à zéro</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="sep-bor"></div>
    </div>
</div>


<!-- Recent posts CarouFredSel Starts -->

<div class="recent-posts blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section title -->
                <div class="section-title">
                    <h4><i class="icon-desktop color"></i> &nbsp;Whats New in Our Company</h4>
                </div>    

                <div class="row">
                    <div class="col-md-12">
                        <div class="my_carousel">

                            <div class="carousel_nav pull-right">
                                <!-- Carousel navigation -->
                                <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
                                <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
                            </div>

                            <ul id="carousel_container">
                                <!-- Carousel item -->
                                <li>
                                    <a href="#"><img src="<%= $.assetsURL %>img/items/2.png" alt="" class="img-responsive"/></a>
                                    <div class="carousel_caption">
                                        <h5><a href="#">Duis estsum placerat</a></h5>
                                        <p>Something about the product goes here. Not More than 2 lines.</p>
                                        <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><img src="<%= $.assetsURL %>img/items/3.png" alt="" class="img-responsive"/></a>
                                    <div class="carousel_caption">
                                        <h5><a href="#">Maecenas estsum odio</a></h5>
                                        <p>Something about the product goes here. Not More than 2 lines.</p>
                                        <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><img src="<%= $.assetsURL %>img/items/4.png" alt="" class="img-responsive"/></a>
                                    <div class="carousel_caption">
                                        <h5><a href="#">Proin estsum accumsan</a></h5>
                                        <p>Something about the product goes here. Not More than 2 lines.</p>
                                        <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><img src="<%= $.assetsURL %>img/items/5.png" alt="" class="img-responsive"/></a>
                                    <div class="carousel_caption">
                                        <h5><a href="#">Lorem estsum ipsum</a></h5>
                                        <p>Something about the product goes here. Not More than 2 lines.</p>
                                        <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><img src="<%= $.assetsURL %>img/items/6.png" alt="" class="img-responsive"/></a>
                                    <div class="carousel_caption">
                                        <h5><a href="#">Praesent estsum massa</a></h5>
                                        <p>Something about the product goes here. Not More than 2 lines.</p>
                                        <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><img src="<%= $.assetsURL %>img/items/7.png" alt="" class="img-responsive"/></a>
                                    <div class="carousel_caption">
                                        <h5><a href="#">Praesent estsum etium</a></h5>
                                        <p>Something about the product goes here. Not More than 2 lines.</p>
                                        <a href="#" class="btn btn-info btn-sm"><i class="icon-shopping-cart"></i> Buy for $199</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent posts Ends -->    


<!-- Catchy starts -->
<div class="catchy blocky">
    <div class="catchy-inner1">
        <div class="catchy-inner2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="catchy-subscribe">
                            <h3>Join Us!</h3>
                            <p>Lorem tristique est sit amet diam ipsum  dolor sit  diam interdum diam ipsum  dolor sit diam ipsum  dolor sit tristique semper.</p>
                            <br />
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control " id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-danger">Subscribe</button>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-7">

                        <div class="report">
                            <div class="report-bor">
                                <div class="row">
                                    <!-- Report data starts -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="report-data">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <!-- Icon -->
                                                    <div class="report-icon">
                                                        <i class="icon-group color"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-md-8 col-xs-8">
                                                    <!-- Details -->
                                                    <span class="report-big color">40,000</span> <span>Customers</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Report data ends -->

                                    <!-- Report data starts -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="report-data">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <!-- Icon -->
                                                    <div class="report-icon">
                                                        <i class="icon-calendar color"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-md-8 col-xs-8">
                                                    <!-- Details -->
                                                    <span>Since</span><span class="report-big color">1857</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Report data ends -->

                                    <!-- Report data starts -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="report-data">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <!-- Icon -->
                                                    <div class="report-icon">
                                                        <i class="icon-android color"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-md-8 col-xs-8">
                                                    <!-- Details -->
                                                    <span class="report-big color">30,000</span> <span>Revenue</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Report data ends -->

                                </div>

                                <hr class="hidden-xs">

                                <div class="row">

                                    <!-- Report data starts -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="report-data">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <!-- Icon -->
                                                    <div class="report-icon">
                                                        <i class="icon-building color"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-md-8 col-xs-8">
                                                    <!-- Details -->
                                                    <span class="report-big color">150 +</span> <span>Companies</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Report data ends -->

                                    <!-- Report data starts -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="report-data">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <!-- Icon -->
                                                    <div class="report-icon">
                                                        <i class="icon-signal color"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-md-8 col-xs-8">
                                                    <!-- Details -->
                                                    <span class="report-big color">50.60%</span> <span>Growth</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Report data ends -->

                                    <!-- Report data starts -->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="report-data">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <!-- Icon -->
                                                    <div class="report-icon">
                                                        <i class="icon-truck color"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-md-8 col-xs-8">
                                                    <!-- Details -->
                                                    <span class="report-big color">100 +</span> <span>Employees</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Report data ends -->

                                </div>

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      
<!-- Catchy ends -->

<!-- CTA Starts -->
<div class="blocky">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h5><i class="icon-angle-right"></i> Lorem trist iquest <span class="color">siamet diam</span> ipsum dolor sitamt</h5>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="cta-buttons pull-right">
                                <a href="#" class="btn btn-info btn-lg">Download</a> &nbsp; <a href="#" class="btn btn-danger btn-lg">Get It Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </div>
</div>