<!-- Page title -->
<div class="page-title">
  <div class="container">
    <h2><i class="fa fa-desktop color"></i> Laptops & Desktops <small>Subtext for header</small></h2>
    <hr />
  </div>
</div>
<!-- Page title -->

<!-- Page content -->
<% console.log(concerts) ;%>
<div class="shop-items">
  <div class="container">

    <div class="row">

      <div class="col-md-9 col-md-push-3">

        <!-- Breadcrumb -->
        <ul class="breadcrumb">
          <li><a href="#">Accueil</a> <span class="divider"></span></li>
          <li class="active">Concerts</li>
        </ul>
        

        <div class="row">
        <% _.each(concerts, function(index, value) {%>
        <!-- Items List starts -->
          <!-- Item #1 -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item">
              <div class="item-icon"><span><%= index.Genre %></span></div>

              <!-- Item details -->
              <div class="item-details">
                <!-- Name -->
                <h5><a href="#item/<%= index.Id %>"><%= index.Artist %></a></h5>
                <div class="clearfix"></div>
                <!-- Para. Note more than 2 lines. -->
                <p>Venez donc voir <%= index.Artist %> en concert le <%= index.Date %> à <%= index.Location %></p>
                <hr />
                <!-- Price -->
                <div class="item-price pull-left"><%= index.Price %>€</div>
                <!-- Add to cart -->
                <div class="pull-right"><button class="btn btn-danger btn-sm addToCart"  data-artist="<%= index.Artist %>" data-price="<%= index.Price %>" data-id="<%= index.Id %>">Je veux y aller !</button></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>               
      </div>
    </div>
    <div class="sep-bor"></div>
  </div>
</div>
