      <!-- Page title -->
      <div class="page-title">
       <div class="container">
        <h2><i class="fa fa-desktop color"></i> Checkout <small>Subtext for header</small></h2>
        <hr />
      </div>
    </div>
    <!-- Page title -->

    <!-- Page content -->

    <div class="checkout">
     <div class="container">
     <h4>Détails de paiement</h4>
      <br />
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="num_card" class="col-md-2 control-label">Carte bleu</label>
          <div class="col-md-4">
            <input type="text" class="form-control" id="num_card" placeholder="Carte bleu">
          </div>
        </div>            
        <div class="form-group">
          <label for="expiration_date" class="col-md-2 control-label">Date d'expiration</label>
          <div class="col-md-4">
            <select class="form-control col-md-2" id="month">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select class="form-control col-md-2" id="year">
              <% for(i = 2014; i < 2070; i++) { %>
              <option value="<%= i %>"><%= i%></option>
              <% } %>
            </select>
          </div>
        </div>

        <div class="form-group">
          <button id="submit" class="btn btn-primary">Envoyer mon paiement</button>
        </div>
      </form>
    </div>
  </div>
