<!-- Shopping cart Modal -->
<div class="modal fade" id="shoppingcart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Shopping Cart</h4>
      </div>
      <div class="modal-body shoppingCartBody">
        <%
          var buffer = "";
          var orders = localStorage.getItem('user_orderItems') ? JSON.parse(localStorage.getItem('user_orderItems')) : JSON.parse(localStorage.getItem('ordersTemp'));
          if(orders) {
            buffer += '<table class="table table-striped">';
            buffer += '  <thead>';
            buffer += '    <tr>';
            buffer += '      <th>Artist</th>';
            buffer += '      <th>Quantité</th>';
            buffer += '      <th>Prix</th>';
            buffer += '    </tr>';
            buffer += '  </thead>';
            buffer += '  <tbody>';
              $.each(orders, function(index, val) {
               buffer += '    <tr>';
               buffer += '      <td><a href="#item/' + val.concertId + '">' + val.artist + '</a></td>';
               buffer += '      <td>' + val.quantity + '</td>';
               buffer += '      <td>' + val.price + '€</td>';
               buffer += '    </tr>';
             });
            buffer += '  </tbody>';
            buffer += '</table>';
          } else {
            buffer += "Aucune commande en cours";
          }
        %>
        <%= buffer %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
        <a href="#checkout" class="btn btn-info">Checkout</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Logo & Navigation starts -->

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <!-- Logo -->
        <div class="logo">
          <h1><a href="#">OlsonKart</a></h1>
        </div>
      </div>
      <div class="col-md-6 col-sm-5">
        <!-- Navigation menu -->
        <div class="navi">
          <div id="ddtopmenubar" class="mattblackmenu">
            <ul>
              <li><a href="#items" >Concert</a></li>
              <li><a href="contactus.html">Contact</a></li>
               <% if (localStorage.getItem("token")) { %>
                   <li><a href="#logout">Déconnexion</a></li>
                <% } %>
            </ul>
          </div>
        </div>

        <!-- Dropdown NavBar -->
        <div class="navis"></div>                  

      </div>

      <div class="col-md-4 col-sm-5">
        <div class="kart-links">
          <% if (localStorage.getItem("token")) { %>
          <a href="#account">Mon compte</a>
          <% } else { %>
          <a href="#login">Connexion</a> 
          <a href="#register">Inscription</a>
          <% } %>
          <a data-toggle="modal" href="#shoppingcart" class="shoppingCartText"><i class="fa fa-shopping-cart"></i>
            <% if (localStorage.nb_items && localStorage.price_total) { %>
            <%=localStorage.nb_items %> concerts - <%=localStorage.price_total%>€
            <% } else { %>
            0 concert - 0€
            <% }%>

          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Logo & Navigation ends -->

<div class="clearfix"></div>

<div id="page"></div>
<!-- Footer starts -->
<footer>
  <div class="container">

    <div class="row">

      <div class="col-md-4 col-sm-4">
        <div class="fwidget">

          <h4>Oslon de<span class="color">'</span> Techno</h4>
          <hr />
          <p>Duis leo risus, vehicula luctus nunc.  Quiue rhoncus, a sodales enim arcu quis turpis. Duis leo risus, condimentum ut posuere ac, vehicula luctus nunc.  Quisque rhoncus, a sodales enim arcu quis turpis.</p>

          <div class="social">
            <a href="#" class="facebook"><i class="icon-facebook"></i></a>
            <a href="#" class="twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="google-plus"><i class="icon-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
            <a href="#" class="pinterest"><i class="icon-pinterest"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="fwidget">
          <h4>Categories</h4>
          <hr />
          <ul>
            <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
            <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
            <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
            <li><a href="#">Vivamus scelerisque dui in massa</a></li>
            <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
          </ul>
        </div>
      </div>        



      <div class="col-md-4 col-sm-4">
        <div class="fwidget">

          <h4>Get In Touch</h4>
          <hr />
          <div class="address">
            <p><i class="icon-home color contact-icon"></i> #12, Plot No.14, Raj Karmara Street, </p>
            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5th Stage, Koramangala, Madiwala,</p>
            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Bangalore - 493922, Karananana.</p>
            <p><i class="icon-phone color contact-icon"></i> +94-948-323-5532</p>
            <p><i class="icon-envelope color contact-icon"></i> <a href="mailto:something@gmail.com">some.thing@gmail.com</a></p>
          </div>

        </div>
      </div>

    </div>



    <hr />

    <div class="copy text-center">
      Copyright 2013 &copy; - <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a>
    </div>
  </div>
</footer>
<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 